.navbar {
    background-color: #0D0D29;
}

.nav-link {
    background-color: transparent;
    color: #FFFFFF !important;
    font-family: 'Made';
    font-weight: lighter;
}

.nav-anim {
    position: relative;
}

.nav-anim:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: #8080FF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-anim:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}