:root {
    --default-purple: #0A0A1E;
}

@font-face {
    font-family: 'Made';
    font-weight: lighter;
    src: url("../fonts/madelight.otf");
}

@font-face {
    font-family: 'Made';
    font-weight: normal;
    src: url("../fonts/madereg.otf");
}

@media only screen and (max-width: 770px) {
    .nav-link {
        text-align: center;
        background-color: #0D0D29;
        border-radius: 20px;
        margin-top: 5px
    }

    .navbar-toggler {
        background-color: #FFFFFF !important;
    }

    .pricing-card {
        margin-top: 10px;
    }

    .vouch-card {
        margin-top: 10px;
    }

    .pch-desc h3 {
        font-size: 70px !important;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--default-purple) !important;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.uphidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(50%);
    transition: all 1s;
}

.lefthidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}


.hero-item:nth-child(2) {
    transition-delay: 300ms;
}

.hero-item:nth-child(3) {
    transition-delay: 600ms;
}

.contactcrd:nth-child(2) {
    transition-delay: 600ms;
}

.contactcrd:nth-child(3) {
    transition-delay: 300ms;
}

.pricing-child:nth-child(2) {
    transition-delay: 200ms;
}

.pricing-child:nth-child(3) {
    transition-delay: 400ms;
}

.pricing-child2:nth-child(2) {
    transition-delay: 600ms;
}

.pricing-child2:nth-child(3) {
    transition-delay: 300ms;
}

.hero-content {
    color: #FFFFFF;
    font-family: 'Made';
    font-weight: lighter;
    max-width: 40rem;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero-start {
    background-image: url("../img/background4.png") !important;
}

.hero-container {
    display: flex;
    justify-content: center;
    height: 650px;
}

.herobtn {
    background-image: url(../img/herobtn.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0 !important;
    background-color: transparent !important;
    transition: 0.3s ease-in-out !important;
}

.herobtn:hover {
    opacity: 0.8;
}

.herobtnspan {
    color: transparent;
}

.vouch-card {
    background-color: #0D0D29 !important;
    box-shadow: inset 0px 0px 10px #0A0A1E;
    border-radius: 20px;
    height: 220px !important;
}

.vouches {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.vouch-person {
    display: inline-flex;
    justify-content: center;
}

.vouch-person p {
    color: #fff;
    font-family: 'Made', 'sans-serif';
    font-size: 20px;
    margin-left: 15px;
    margin-top: 11px;
}

.vouch-content-container {
    font-family: 'Made', 'sans-serif';
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.vouch-content {
    color: #B1B1E5;

    max-width: 15rem;
}

.vouches-header {
    color: #fff;
    font-family: 'Made';
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #FFFFFF 0%, #A3A3FF 57.21%);
    background-clip:text !important;
    color:transparent !important;
}

.pricing {
    background-color: #0A0A1E !important;
    min-height: 500px;
}

.pricing-content {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.pricing-header {
    text-align: center;
    color: white;
    font-family: 'Made';
    border: 0 !important;
}

.pricing-card {
    background-color: #0D0D2B !important;
    border-color: transparent !important;
    border-radius: 15px !important;
    box-shadow: inset 0px 0px 10px #0A0A1E;
    margin-top:15px;
}

.pricing-card-header {
    background-color: #0D0D2B !important;
    border-radius: 15px;
    margin:4px;
}

.pricing-card-main {
    background-color: #5656FF !important;
    border-radius: 15px !important;
}

.pch-desc {
    text-align: center;
    font-family: 'Made';
    color: white;
    line-height: 1px;
    margin-top: 25px;
}

.unsuretext {
    background: linear-gradient(90deg, #FFFFFF 0%, #A3A3FF 57.21%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.pch-desc p {
    font-weight: lighter !important;
    font-size: 13px;
}

.pch-desc h3 {
    background: linear-gradient(90deg, #FFFFFF 0%, #6D6DD8 57.21%) !important;
    background-clip:text !important;
    color:transparent !important;
}

.pch-desc-main {
    text-align: center;
    font-family: 'Made';
    color: white;
    line-height: 1px;
    margin-top: 25px;
}

.pch-desc-main p {
    font-weight: lighter !important;
    font-size: 13px;
}

.pch-desc-main h3 {
    color:#fff !important;
}

.price-header {
    color: #fff;
    font-family: 'Made';
    font-size: 25px;
}

.price-perk {
    color: #8080FF;
    font-family: 'Made';
    margin: 10px;
    font-size: 20px;
}

.unsurebtn {
    background-image: url(../img/reachoutbtn.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0 !important;
    background-color: transparent !important;
    transition: 0.3s ease-in-out !important;
}

.unsurebtn:hover {
    opacity: 0.8;
}

.payment {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.payment-card {
    background-color: #0D0D2B !important;
    box-shadow: inset 0px 0px 10px #0A0A1E;
}

.payment-header {
    font-family: 'Made';
}

.payment-body {
    color: white;
    font-family: 'made';
    opacity: 0.8;
}

.contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #0A0A1E;
}

.contact-cardtl {
    background-image: url(/assets/img/telegrambg.png);
    background-color: transparent !important;
    background-size: cover;
    box-shadow: inset 0px 0px 10px #0A0A1E;
    border: 0 !important;
    height: 200px !important;
    width: 300px !important;
}

.contact-carddc {
    background-image: url(/assets/img/discordbg.png);
    background-color: transparent !important;
    background-size: cover;
    box-shadow: inset 0px 0px 10px #0A0A1E;
    border: 0 !important;
    height: 200px !important;
    width: 300px !important;
}
.contact-cardgt {
    background-image: url(/assets/img/githubbg.png);
    background-color: transparent !important;
    background-size: cover;
    box-shadow: inset 0px 0px 10px #0A0A1E;
    border: 0 !important;
    height: 200px !important;
    width: 300px !important;
}

.contact-header {
    color: white;
    font-family: 'Made';
}

.form-group {
    padding: 0.5rem;
}

.submitbtn {
    background-image: url(../img/submitbtn.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0 !important;
    background-color: transparent !important;
    transition: 0.3s ease-in-out !important;
}

.submitbtn:hover {
    opacity: 0.8;
}

.form-control {
    background-color: #0A0A1E !important;
    border-color: #3838A9 !important;
    color: white !important;
}

.contact-body a {
    color: white;
    font-family: 'Made';
    font-size: 25px;
    opacity: 0.8;
    transition: ease-in-out 0.2s !important;
}

.contact-body a:hover {
    color: white;
    opacity: 0.6;
}

.footera {
    color: white;
    font-family: 'Made';
    transition: ease-in-out 0.2s;
}
.footera:hover{
    color:white;
    opacity: 0.8;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}